.slideImg:hover {
  cursor: zoom-in;
}

div.carousel-root {
  height: 550px;
}

div.carousel.carousel-slider {
  /* height: ; */
  width: 100%;
  max-width: 100%;
}

/* image gallery */
div.slider-wrapper.axis-horizontal {
  height: 450px;
  width: auto;
}

/* thumbnail gallery */
div.thumbs-wrapper.axis-vertical {
  margin: 0;
  max-height: 50%;
}

/* li.slide.selected:hover {
  cursor: zoom-in;
} */

div#modalCarousel.ui.modal.transition.visible.active div.content div.carousel-root:hover {
  cursor: crosshair;
}

ul.thumbs.animated {
  margin: 5px;
}