
/* Carousel */
/* div.carousel-root .mainImage {
  height: 450px;
} */

/* thumbnail gallery */
/* div.thumbs-wrapper.axis-vertical {
  margin: 0;
  max-height: 50%;
} */

ul.thumbs.animated {
  margin: 0;
  padding-top: 5px;
}

.mainImage {
  /* min-height: 450px; */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainImage img {
  /* height: auto; */
  min-height: 400px;
  max-height: 600px;
  max-width: auto;

}


.mainImage:hover {
  cursor: zoom-in;
}

.modalImage:hover {
  cursor: crosshair;
}

/* .modalImage NEEDS WORK{
  width: 400px;
  height: 600px;
} */

/* image gallery MESSES WITH .mainImage */
/* div.slider-wrapper.axis-horizontal {
  height: 450px;
  width: auto;
} */
/* div.carousel-root.mainCarousel {
  align-items:center;
} */