
/* thumbnail gallery */
/* div.thumbs-wrapper.axis-vertical {
  margin: 0;
  max-height: 50%;
} */

div.carousel {
  justify-content: center;
  display: flex;
}

ul.thumbs.animated {
  padding-inline-start: 0;
}

.mainImage {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainImage img {
  min-height: 50%;
  max-width: auto;
}


.mainImage:hover {
  cursor: zoom-in;
}

.modalImage:hover {
  cursor: crosshair;
}

div#modalCarousel.ui.scrolling.modal.transition.visible.active {
  max-height: fit-content;
  width: 40%;
}

div.magnifierImg div {
  cursor: zoom-out !important;
}

/* .modalImage {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

/* div.modalImage {
  max-height: 50%;
  max-width: auto;
} */

/* image gallery MESSES WITH .mainImage */
/* div.slider-wrapper.axis-horizontal {
  height: 450px;
  width: auto;
} */
/* div.carousel-root.mainCarousel {
  align-items:center;
} */