/**================= QandA Component Styles =================**/
.ui.grid {
  display: block;
}

.QandA {
  padding-top: 3%;
  padding-bottom: 3%;
}

/**================= Search Bar Styles =================**/
div.stretched.row.question_search_bar {
  padding-top: 1%;
  padding-bottom: 3%;
}

#search_bar {
  width: 35vw;
}

/**================= Question Styles =================**/
div#question.ui.centered.container.grid {
  width: 65vw !important;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 5px;
  padding-bottom: 15px;
  padding-top: 1px;
  box-shadow: 1px 1px 3px rgb(197, 197, 197);
  border-radius: 7.5px;
}

#questions_feed {
  display: block;
  width: 56vw;
  min-height: 30vh;
  max-height: 70vh;
  overflow-y: scroll;
  overflow: auto;
  overflow-x: hidden;
}

#no_results {
  min-height: 30vh;
}

div.three.column.row.question_row {
  width: 60vw;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.ui.grid>.row.show_Questions_row {
  padding-top: 5%;
  margin-top: 14px;
}

#buttonQuestion {
  padding: 0;
  border: none;
  background: none;
}

#ask_question_button {
  margin-left: 1%;
}

#show_Questions_buttons {
  margin-top: 15px;
}

/**================= Answer Styles =================**/

div.ui.container.grid.answer {
  width: 48vw !important;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ui.grid>.row.answer_info {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ui.grid>.row.answer_row {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 2%;
}

#answer_body {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.answerer_data {
  margin-right: 5%;
  margin-top: .5% !important;
  margin-bottom: .5%;
  margin-left: 1%;
}

#submitThumbnails {
  padding-top: 2%;
}

.ui.grid>.row.show_Answers_buttons {
  padding-top: 1%;
  margin-left: 15%;
  padding: 0;
  border: none;
  background: none;
}

#buttonAnswers {
  padding: 0;
  border: none;
  background: none;
}

#button.report_button {
  margin-left: 25px;
}
button#buttonAnswers.ui.mini.button.submit {
  padding-left: 5%;
}