.reviewListContainer {
  max-height: 55vh;
  overflow-y: auto;
}

.reviewTitle {
  font-size: 17px;
  font-weight: bold;
}

.reviewBody {
  padding-bottom: 20px;
}

#helpfulnessCount {
  padding: 0;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

#reportReview {
  padding: 0;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}