.App {
  text-align: center;
  min-width: 1200px;
}

.topBar {
  position: relative;
  background-color: rgb(199, 162, 0);
  padding-bottom: 40px;
  height: 105px;
  margin-bottom: 15px;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.headerOutline {
  position: absolute;
  height: 90px;
  float: left;
  bottom: 10px;
  left: 10px;
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.headerLogo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  float: left;
  margin: 20px;
  margin-left: 25px;
  height: 70px;
}

.bottomBar {
  position: relative;
  background-color: rgb(199, 162, 0);
  bottom: 0;
  height: 105px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}

.bottomLogo {
  position: absolute;
  height: 50px;
  left: 0px;
  bottom: 0px;
  float: left;
  margin: 30px;
}

.headerText {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.footerLink {
  text-decoration: underline;
}

.footerLink:hover {
  cursor: pointer;
}

.backToTop {
  position: relative;
  margin-top: 4%;
  margin-bottom: -50px;
  padding-bottom: 10px;
  width: 80%;
  background-color: rgb(228, 228, 228);
  height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50% 50% 0px 0px;
}